#thedrake {
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
  width: auto;
}

#thedrake td {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  padding: 0;
  line-height: 0;
}

#thedrake td.captured {
  padding: 4px;
}

#thedrake td.selected {
  background-color: rgba(100, 100, 100, 0.5);
  background-blend-mode: multiply;
}

#thedrake td.move {
  background-image: url('../images/move.png');
  background-color: rgba(200, 200, 200, 0.5);
  background-blend-mode: lighten;
}
